on fs
    setprop ro.sf.lcd_density 240
    setprop ro.product.vendor.device FRT
    setprop ro.product.vendor.brand Nokia
    setprop persist.vendor.anr.enhancement 0
    setprop ro.product.vendor.model "Nokia 1"
    setprop ro.vendor.mtk_bg_power_saving_ui 0
    setprop ro.product.vendor.name Frontier_00WW
    setprop ro.vendor.mtk_bg_power_saving_support 0
    setprop ro.product.vendor.manufacturer "HMD Global"
on fs
	setprop ro.vendor.build.fingerprint Nokia/Frontier_00WW/FRT:9/PPR1.180610.011/00WW_2_200:user/release-keys
