on boot
     setprop ro.vendor.md_apps.support 1
     setprop ro.vendor.md_apps.load_type user
     setprop ro.vendor.md_apps.load_verno "MOLY.LR9.W1444.MD.LWTG.MP.V234.P10"
     setprop ro.vendor.md_apps.load_gencfg "GEN90_USER"
     setprop ro.vendor.md_apps.load_date "2019/11/27 21:53:54 GMT +08:00"
